//menu button
.burgerButton {
    position: absolute;
    //z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;
    
    .btn-line {
        width: 45px;
        height: 6px;
        margin: 0 0 7px 0;
        background: $primary-color;
        transition: background 0.2s;
    }

    &:hover{
        .btn-line {
            background: $third-color;
        }
    }

    //roatate burger into x
    &.close{
        transform: rotate(180deg);
        .btn-line{
            &:nth-child(1) {
                transform: rotate(45deg) translate(5.5px, 5.5px);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(135deg) translate(-13px, 13px);
            }
        }
    }
}

//create overlay
.theMenu {
    position: fixed;
    top:0;
    width: 100%;
    opacity: 1;
    
    visibility: hidden;
    font-family: 'Medula One', cursive;

    &.show{
        visibility: visible;
    }   

    background:$background-color;

    transform:translate3d(0, -100%,0);
    @include easeOut;

    &.show{
        transform: translate3d(0,0,0);
        transition: all 1s;
    }

    .menu-nav{
        padding:20vh 5% 0;
        min-height: 100vh;
        margin: 0 auto;
        max-width: 600px;
        //overflow: auto;
        list-style: none;
    }
}

.nav-link{
    font-size: 500%;
}