$background-color:black;//#0e0f0f;
$primary-color:white;
$secondary-color:#6B6E70;
$third-color:#86C232;
$show-home-image: true;
$home-image: url(/dist/images/background.png);
$background-opacity: 0.8;
@import "config";
@import "menu";

*{
    box-sizing: border-box;
}

body{ 
    @include background;
    background: $background-color;
    color: $primary-color;
    font-family: 'Karla', sans-serif;
    margin: 0;
    height: 100%;  
    
}

main
{   
    padding:28vh 5% 0;
    .theMain{
        //background: $background-color;
        margin: 0 auto;
        max-width: 363px;
        .lg-heading{
          
        }
        .sm-heading{
          
        }
        
    }
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
}

a{
    font-size: 3rem;
    color: $primary-color;
    text-decoration: none;
    &:hover{
        color: $third-color;
        @include easeOut();  
    }
}

.text-third{
    color: $third-color;
}

//headings
.bottom,.top{
    font-size: 500%;
}

.sm-heading{
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    color: $secondary-color;
    padding: 0.5rem 0.1rem;
}

.theIcons{
    margin-top: 1rem;
    color: $secondary-color;
    font-size: 1rem; 
    a{ 
        color: $secondary-color;
            font-size: 1rem;
        padding: 0.4rem;

        &:hover{
            color: $third-color;
            @include easeOut();  
        }
    }
}

